.graphBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25em;
    margin: 1em;
    width: 50em;
    background-color: rgba(var(--callout-rgb), 0.5);
    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    border-radius: var(--border-radius);
    filter: drop-shadow(0 0 0.75rem rgba(var(--callout-border-rgb), 0.2));
    position: relative;
  }
  
  .warningBanner {
    position: absolute;
    top: 15px;
    right: 30px;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
    font-weight: 600;
    color: rgb(255, 52, 52); /* Adjust color as needed */
    transition: background 200ms, border 200ms;
  }
  
@media screen and (max-width: 1000px) {
    .graphBody {
      width: 50vw;
    }
}

.tooltip {
    border-radius: var(--border-radius);
    box-shadow: inset 10em 10em 0rem rgba(var(--callout-rgb), 1);
    /*recolor with filter*/
    color: rgba(var(--callout-border-rgb), 1);
}
    
  
